.backgroundCar {
	min-height: 92vh;
	background: var(--second-yellow);
}

.card-cart {
	background-color: var(--second-orange);
	margin-bottom: 12px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 4px;
	margin-right: 4px;
	border-radius: 12px;
}
.img-cart {
	width: 120px;
	margin: 4px;
	border: 2px solid var(--second-purple);
	border-radius: 20px;
}
.inform-cart {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}
.littleInfo-cart {
	display: flex;
	flex-direction: row;
	padding: 6px;
}
.detail-p-cart {
	color: var(--principal-orange);
}
.detail-cart {
	color: var(--second-purple);
	font-weight: bold;
}

.deleteButton {
	background: #ff0063;
	width: 24px;
	height: 24px;
	border: none;
	color: var(--white);
	font-weight: bold;
	text-align: center;
	border-radius: 4px;
}

.formInformation {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 16px auto;
}
.labelForm {
	margin-bottom: 4px;
	color: var(--principal-purple);
	font-weight: bold;
}
.inputForm {
	margin-bottom: 16px;
	border: none;
	background: var(--second-yellowy);
	height: 24px;
	border-bottom: 1px solid var(--medium-grey);
	border-radius: 4px;
	color: var(--principal-orange);
	font-weight: bold;
}
.titleForm {
	color: var(--medium-grey);
	margin-bottom: 18px;
}

.totalPriceContainer {
	display: flex;
	justify-content: center;
	color: var(--medium-grey);
}

.totalPrice {
	color: var(--principal-orange);
	font-weight: bold;
}

.finishContainer {
	margin-top: 30px;
	display: flex;
	justify-content: space-evenly;
}

.finish {
	height: 36px;
	width: 110px;
	border: none;
	border-radius: 6px;
	font-weight: bold;
	color: var(--white);
	font-size: 14px;
}
.deleteAll {
	background: #ff0063;
}
.it {
	background: #5fd068;
}

@media (min-width: 800px) {
	.card-cart,
	.formInformation {
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
	}

	.img-cart {
		width: 180px;
	}

	.deleteButton {
		width: 40px;
		height: 40px;
		font-size: 28px;
	}
}
